.body{
    background-color: rgb(175, 18, 18);
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100 px;
}
h1{
    font-size: 4 rem;
    color: white;
}
button{
     font-size: 1.7rem;
     font-weight: bold;
     padding: 10px 20px;
     color:aqua;
     border:none;
     border-radius: 5px;
     cursor:pointer;
     transition: background-color 0.5s ease;
}